* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --title-font: 'Rubik Mono One', sans-serif;

  /* COLORS */
  --main-white: #fdfdfd;
  --main-gray: #6d6b6b;
  --medium-gray: #aeaeae;
  --ultralight-gray: #d1d1d170;
  --light-gray: #d1d1d1;
  --main-dark: #303030;
  --high-dark: #202020;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--main-font);
  color: var(--main-dark);
  background: #ededed;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 7rem;
}

.text-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profileImage {
  width: 150px;
  border-radius: 50%;
}

.skeletonProyect {
  min-width: 28rem;
  max-width: 40rem;
}

.skeletonWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.skeletonWrap2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.contactWave {
  width: 100%;
  position: relative;
  top: 10px;
}

@media (min-width: 600px) {
  .container {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-top: 7rem;
  }
}
